meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X_UA_Compatible", content="ie=edge")
link(rel="stylesheet", href="/css/normalize.css")
link(rel="stylesheet", href="/css/app.css")
link(rel="preconnect", href="https://fonts.gstatic.com/%22")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato&display=swap")    
link(rel="stylesheet", href="https://fonts.googleapis.com/css2")
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
title #{nombrePagina}
