<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
  body
    header.barra
      h1 UpTask - Administrador de proyectos
      a(href="/cerrar-sesion") Cerrar Sesi칩n
      
    main.contenedor
      aside.contenedor-proyectos
        .panel.crear-proyecto
          a(href="/nuevo-proyecto" class="boton") Nuevo proyecto
            span +
        .panel.lista-proyectos
          h2 Proyectos
          ul#proyectos.proyectos
            //- li
            //-   a(href="#") Dise침o de Tienda Virtual
            //- li
            //-   a(href="#") Dise침o de Nuevo Blog
            //- li
            //-   a(href="#") Dise침o de Logotipo 
            if(proyectos.length)
              each proyecto in proyectos
                li
                  a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre
                
      block contenido
        //- pre=vardump(proyectos)
      
    script(src="/dist/bundle.js")
