<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
  body.login
    .contenedor-formulario
      
      h1= nombrePagina
      p Ingresa tu nueva contrase単a/password
      
      form.caja-login(method="POST")
        .campo
          label(for="password") Password/Contrase単a:
          input(type="password" name="password" placeholder="Nueva password/contrase単a")
        .campo.enviar
          input.boton(type="submit" value="Reestablecer Password/Contrase単a")
