<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X_UA_Compatible", content="ie=edge")
    style 
      include ./email.css
      
  body
    h2 Reestablecer Password/Contraseña
    p Has solicitado reestablecer tu contraseña, haz click en el siguiente enlace para reestablecerlo. El mismo es temporal, así que si se vence vuelve a solicitarlo
    a (href=`${resetUrl}`) Resetar Password/Contraseña
    p Si no puedes acceder al enlace, visita #{resetUrl}
    p Si no solicitaste este e-mail puedes ignorarlo
